{% extends "base.twig" %}

{% block content %}
	
	<div class="row">
		<div class="columns medium-12">
			<h1 class="page-title">{{__('Blog', 'trunck')}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="columns medium-8 {{sidebar_class}}">
			{% for post in posts %}
				{% include ["tease-"~post.post_type~".twig", "tease.twig"] %}
			{% endfor %}
		</div>
		<div class="sidebar columns medium-4">
			{{sidebar_widget}}
		</div>
	</div>
{% endblock %}