.bg {

	&-primary     { background: $primary-color; }
	&-secondary   { background: $secondary-color; }
	&-success     { background: $success-color; }
	&-warning     { background: $warning-color; }
	&-alert       { background: $alert-color; }
	&-white       { background: $white; }
	&-light-gray  { background: $light-gray; }
	&-medium-gray { background: $medium-gray; }
	&-dark-gray   { background: $dark-gray; }
	&-black       { background: $black; }
}

* {
	outline: none;
}
.swatch {
	padding: rem-calc(30);
}

h1.page-title {
	margin-bottom: rem-calc(30);
}

input.disabled, textarea.disabled {
    background-color: #e6e6e6;
    cursor: default;
}

.off-canvas-wrapper-inner {
	background-color: $black;

}

div.content-wrapper {
	padding-bottom: rem-calc(30);
	padding-top: rem-calc(30);
}