.bg {

	&-primary     { background: $primary-color; }
	&-secondary   { background: $secondary-color; }
	&-success     { background: $success-color; }
	&-warning     { background: $warning-color; }
	&-alert       { background: $alert-color; }
	&-white       { background: $white; }
	&-light-gray  { background: $light-gray; }
	&-medium-gray { background: $medium-gray; }
	&-dark-gray   { background: $dark-gray; }
	&-black       { background: $black; }
}

.swatch {
	padding: 30px;
}
.content-wrapper {
	padding-top: 30px;
}

h1.page-title {
	margin-bottom: 30px;
}

input.disabled, textarea.disabled {
    background-color: #e6e6e6;
    cursor: default;
}