// Header
.top-bar {
	.menu-text {
		color: $white;
	}

	.submenu {
		li {
			//background-color: $black;

			&:hover {
				//background-color: lighten($black, 20%);
			}
		}
	}
}

.content-wrapper {
	&.off-canvas-content {
		box-shadow: none;
		min-height: none;
	}
}

.off-canvas-wrapper {
	min-height: 100%;
	height: 100%;
}

.off-canvas-wrapper-inner {
	min-height: 100%;
}

.off-canvas {
	min-height: 100%;
	height: 100%;
}