{% extends "base.twig" %}

{% block content %}
	
<div class="row">
	<div class="columns medium-12">
		<article class="404">
			{{__("Sorry, we couldn't find what you're looking for.", "trunck") }}
		</article>
	</div>
</div>
{% endblock %}